@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #fff8f0;
    background-image: url("../images/main-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Text styling*/
.text {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    padding-top: 20px;
    margin: 0 25px;
}

h1,
h2,
h3 {
    font-family: "Josefin Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/*Header container*/
.header {
    height: 120px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff8f0;
    border-bottom: 2px solid #402e32;
}

/*Logo*/
#logo {
    margin-left: 30px;
}

/*Nav-links*/
.nav-links {
    font-family: "Josefin Sans", sans-serif;
    font-size: 150%;
    color: #402e32;
    display: flex;
    flex-direction: row;
}

.nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 60px;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    border-bottom: 1px solid #402e32;
}

/*HOME PAGE*/
/*Cover text and Intro section*/
#cover-text {
    background: rgba(192, 146, 54, 0.35);
    font-size: 130%;
    font-family: "Josefin Sans", sans-serif;
    color: #402e32;
    letter-spacing: 4px;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    width: 50%;
    height: auto;
    top: 180px;
    left: 25%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: absolute;
}

.intro-text {
    background-color: #fff8f0;
    padding: 25px;
    margin-top: 400px;
}

.intro-text h1 {
    font-size: 200%;
}

/*Package-links section*/
.package-links {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: #fff8f0;
    padding: 25px;
    margin-top: 25px;
}

.package-links li {
    list-style-type: none;
    padding: 15px;
    display: inline-flex;
}

.package-links li a {
    text-decoration: none;
    color: inherit;
}

.package-links a:hover {
    border-bottom: 1px solid #402e32;
}

#seafaring-link {
    border-radius: 50%;
    border: 4px solid #402e32;
}

#camp-link {
    border-radius: 50%;
    border: 4px solid #402e32;
}

#arts-crafts-link {
    border-radius: 50%;
    border: 4px solid #402e32;
}

/*About section*/
.about-background {
    background-color: #fff8f0;
    padding: 25px;
    margin-bottom: 25px;
}

/*Location section*/
#location-background {
    background-color: #fff8f0;
    padding: 25px;
    margin-top: -20px;
    display: flex;
}

#location-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#location {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#location-images {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    align-items: center;
    width: 100%;
}

#address-details {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#reception {
    font-size: 80%;
    text-align: center;
    width: 100%;
}

#reception-image {
    width: 100%;
}

#map {
    padding-left: 10px;
    width: 75%;
    height: auto;
}

/*PACKAGES PAGE*/
#package-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 200%;
    color: #402e32;
    margin-left: 25px;
}

.package-intro {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    padding: 20px;
    margin: 400px 25px 25px 25px;
    background-color: #fff8f0;
}

#provided-list li {
    list-style-position: inside;
}

.seafaring-package {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff8f0;
}

.camp-package {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff8f0;
}

.arts-crafts-package {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    padding: 20px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff8f0;
}

.package-image {
    padding: 20px;
    float: right;
    width: 33.33%;
    height: auto;
}

table {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    background: #fff;
    padding: 20px;
    margin: 20px 40px;
    border-collapse: collapse;
    border: 1px solid #402e32;
    border-style: ridge;
    border-color: #c09336;
    border-width: 10px;
    display: inline-block;
}

td {
    border: 1px solid #402e32;
    padding: 10px;
    text-align: center;
}

.seafaring-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

#shipbuilding-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#rowing-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.camp-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

#walking-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cooks-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.arts-crafts-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

#craftsman-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#jewellery-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button {
    color: #fff8f0;
    background: #402e32;
    border: 2px solid #c09336;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    border-radius: 7px;
    border: none;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

.button:hover {
    background: rgba(255, 248, 240, 0.9);
    color: #402e32;
    box-shadow: 0 6px 20px #402e32;
}

.return {
    color: #402e32;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 80%;
    padding: 10px;
    padding-bottom: 25px;
}

.return-top {
    color: #402e32;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 80%;
    padding: 10px;
}

.booking-return-buttons {
    margin-top: -80px;
    display: inline-block;
    margin-bottom: 15px;
}

/*CONTACT PAGE*/
/*Page set-up*/
#contact-form-structure {
    width: 60%;
    align-items: center;
    background-color: #fff8f0;
    margin-top: 400px;
}

/*Intro section*/
.contact-intro {
    font-family: "Josefin Sans", sans-serif;
    font-size: 150%;
    text-align: center;
    color: #402e32;
    background-color: #fff8f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    margin-right: 45px;
}

.contact-intro-lower {
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    text-align: center;
    color: #402e32;
    background-color: #fff8f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    margin-right: 45px;
    margin-bottom: 20px;
}

/*Form Section*/
#form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff8f0;
    padding: 0 15px;
}

/*Personal details section*/
#personal-details {
    width: auto;
    height: 100%;
    background-color: #EBAF57;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #402e32;
    border: 2px solid #D49444;
    border-style: inset;
    padding: 15px;
}

.fixedwidth-personal {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

#telephone {
    border: 1px solid #402e32;
}

/* Remove number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/*Dates and date selection section*/
#booking {
    width: auto;
    height: 100%;
    background-color: #EBAF57;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #402e32;
    border: 2px solid #D49444;
    border-style: inset;
    padding: 15px;
}

.dates {
    color: #402e32;
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    border: 1px solid #402e32;
    padding-left: 10px;
}

.fixedwidth-dates {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

/*Validation of required entries*/
.req {
    color: #402e32;
}

#name:invalid {
    border: 1px solid red;
}

#name:valid {
    border: 1px solid green;
}

#email:invalid {
    border: 1px solid red;
}

#email:valid {
    border: 1px solid green;
}

/*Open query section*/
#open-query-and-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#query-field {
    background-color: #EBAF57;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #402e32;
    border: 2px solid #D49444;
    border-style: inset;
    padding: 15px;
}

#query {
    width: 100%;
    height: 200px;
    border: 1px solid #402e32;
}

textarea {
    resize: none;
}

/*Submit section*/
#form-submit {
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #402e32;
}

.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {
    vertical-align: middle;
}

#t-and-c {
    display: inline-block;
}

.submit-button {
    color: #fff8f0;
    background: #402e32;
    border: 2px solid #402e32;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    line-height: 25px;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    display: block;
    align-items: center;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

.submit-button:hover {
    background: rgba(255, 248, 240, 0.9);
    color: #402e32;
    box-shadow: 0 6px 20px #402e32;
}

#contact-address {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

/*Terms and Conditions*/
.t-and-c-heading {
    font-family: "Josefin Sans", sans-serif;
    color: #402e32;
    background-color: #fff8f0;
    display: block;
    height: 100%;
}

#t-and-c-content {
    font-family: "Source Sans Pro", sans-serif;
    color: #402e32;
    background-color: #fff8f0;
    background-size: 100%;
    width: 70%;
    display: block;
    padding-left: 15%;
    padding-top: 25px;
    padding-right: 15%;
    margin: auto;
    margin-top: 50px;
}

#t-and-c-content ul li {
    padding-left: 50px;
    list-style-type: none;
}

#t-and-c-content ol li {
    padding: 10px;
}

/*Thank you page*/
#main-thank-you {
    font-family: "Josefin Sans", sans-serif;
    color: #402e32;
    text-align: center;
    background-color: #fff8f0;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    flex: 1 0 auto;
}

/*FOOTER SECTION*/
footer {
    background-color: #402e32;
    font-family: "Josefin Sans", sans-serif;
    padding: 1em;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer>span {
    color: #c09336;
}

footer>a {
    color: #c09336;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

footer a:hover {
    border-bottom: 2px solid #c09336;
}

#socialmedia {
    color: #c09336;
}

#socialmedia dd {
    color: #fff8f0;
    font-size: 80%;
    list-style-type: none;
    justify-content: space-around;
    display: inline-flex;
    margin-left: 5px;
}

#socialmedia dd a {
    text-decoration: none;
    color: inherit;
}

#socialmedia dd a:hover {
    border-bottom: 2px solid #fff8f0;
}

/* MEDIA QUERIES*/
/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 0px;
        padding-bottom: 10px;
    }

    #location {
        flex-direction: column;
        width: 100%;
    }

    #location-images {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #location-text {
        width: 100%;
    }

    #location-background {
        background-color: #fff8f0;
        padding: 25px;
        margin-top: -20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .seafaring-images {
        flex-direction: column;
        align-items: center;
    }

    .camp-images {
        flex-direction: column;
        align-items: center;
    }

    .arts-crafts-images {
        flex-direction: column;
        align-items: center;
    }

    .package-image {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .package-dates-table {
        align-items: center;
        margin: 0;
        margin-top: 15px;
    }

    .booking-return-buttons {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        margin-top: 0px;
    }

    .button {
        margin-bottom: 25px;
    }

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #logo {
        height: 40px;
        margin-bottom: 50px;
    }

    #location-background {
        background-color: #fff8f0;
        padding: 25px;
        margin-top: -20px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    #location-text {
        width: 100%;
    }

    #location-images {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #reception {
        width: 100%;
        height: auto;
    }

    #title-responsive {
        display: block;
    }

    #form-layout {
        flex-direction: column;
    }

    #details-booking {
        flex-direction: column;
    }
}

#contact-form-structure {
    width: 60%;
    background-color: #fff8f0;
    margin-top: 400px;
}
}