@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 1000px;
    background-color: #fff8f0;
}

/*Background image for page*/
.main-image {
    width: 1200px;
    height: 400px;

    background-image: url("../images/main-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    background-color: #fff8f0;
}

/*Cover text*/
#cover-text {
    background: rgba(192, 146, 54, 0.35);

    font-size: 130%;
    font-family: Josefin Sans, sans-serif;
    color: #402e32;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 5px;

    width: 700px;
    height: 75px;

    top: 150px;
    left: 200px;

    position: absolute;
}

/*Text styling*/
.text {
    font-family: Source Sans Pro, sans-serif;
    color: #402e32;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

h2, h3 {
    font-family: Josefin Sans, sans-serif;
}

/*Header container*/
.header {
    height: 50px;
    width: 100%;
    padding: 22px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff8f0;
}

/*Title*/
#title {
    font-family: Josefin Sans, sans-serif;
    font-size: 300%;
    color: #402e32;
    text-align: center;
    position: relative;
}

/*Nav-links*/
.nav-links {
    font-family: Josefin Sans, sans-serif;
    font-size: 120%;
    color: #402e32;
}

.nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    border-bottom: 1px solid #402e32;
}

.outer-container {
    background-image: url("../images/main-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    background-color: #fff8f0;
}

/*Intro section*/
.intro-text {
    background-color: #fff8f0;
    padding: 25px;
}

/*Package-links section*/
.package-links {
    font-family: Source Sans Pro, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    
    align-content: center;
    position: relative;

    background: #fff8f0;
    padding: 25px;
    padding-right: 100px;
    margin-left: 45px;

}

#seafaring-link {
    border-radius: 50%;
    border: 2px solid #402e32;
}

#camp-link {
    border-radius: 50%;
    border: 2px solid #402e32;
}
#arts-crafts-link {
    border-radius: 50%;
    border: 2px solid #402e32;
}

.package-links li {
    float: center;
    align-items: center;
    list-style-type: none;
    padding: 15px;
    justify-content: space-around;
    display: inline-flex;
    margin-left: 80px;
}

.package-links li a {
    text-decoration: none;
    color: inherit;
}

.package-links a:hover {
    border-bottom: 1px solid #402e32;
}

/*About section*/
.about-text {
    background-color: #fff8f0;
    padding: 25px;
}

/*Location section*/

#location-background {
    background-color: #fff8f0;
    padding: 25px;
    margin-top: -20px;
}

#location-text {
    padding-right: 425px;
}

#reception {
    font-size: 80%;
    text-align: center;
}

footer {
    background-color: #402e32;
    font-family: Josefin Sans, sans-serif;
    padding: 1em;
    padding-top: 10px;
    text-align: center;
    display: flex;
    width: 98%;
    height: 25px;

    justify-content: space-between;
    bottom: 0;
    right: 0;
    z-index: 3;
}

/*Footer section*/
footer>span {
    color: #c09336;
}

footer>a {
    color: #c09336;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

#socialmedia {
    color: #c09336;
}

#socialmedia li {
    color: #fff8f0;
    font-size: 80%;
    float: center;
    list-style-type: none;
    padding: 5px;
    justify-content: space-around;
    display: inline-flex;
    margin-left: 5px;
}

#socialmedia li a {
    text-decoration: none;
    color: inherit;
}

/*Packages page*/
#package-heading {
    font-family: Josefin Sans, sans-serif;
    font-size: 200%;
    color: #402e32;

    margin-left: 45px;
}

.package-image {
    padding: 15px;
}

table {
    font-family: Source Sans Pro, sans-serif;
    color: #402e32;
    background: #fff;    
    padding: 20px;
    margin-right: 40px;
    margin-left:40px; 
    border-collapse: collapse;
    border: 1px solid #402e32;
    border-style: ridge;
    border-color: #c09336;
    border-width: 10px;
}

td {
    border: 1px solid #402e32;
    padding: 10px;
    text-align: center;
}

.seafaring-images {
    display: inline-flex;
    justify: space-around;
    padding: 10px;
}

#shipbuilding-image {
    padding-left: 60px;
}

#craftsman-image {
    padding-left: 130px;
}

.camp-images {
    display: inline-flex;
    justify: space-around;
    padding: 10px;
}

.arts-crafts-images {
    display: inline-flex;
    justify: space-around;
    padding: 10px;
}

/*Drop-down date selector*/
#seafaring-dates, #camp-dates, #arts-crafts-dates {
    color: #402e32;
    background-color: #fff;
    font-family: Source Sans Pro, sans-serif;
    border: 1px solid #402e32;
    padding-left: 10px;
}

#table {
    display: inline-block;
    margin: 25px;
}

.button {
    color: #fff8f0;
    background: #c09336;
    border: 2px solid #402e32;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 25px;
    line-height: 25px;
    border-radius: 7px;
    border: none;

    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;
}

.button:hover {
    background: rgba(255, 248, 240, 0.9);
    color: #402e32;
    box-shadow: 0 6px 20px #402e32;
}

.return {
    color: #402e32;
    font-family: Source Sans Pro, sans-serif;
    font-size: 80%;
    padding: 10px;
}

.booking-return-buttons {
    margin-top: -80px;
    display: inline-block;
    
}

/*Contact page*/

/*Query Form*/
fieldset {
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    color: #402e32;
    border: 3px solid #402e32;
    border-style: inset;
    margin: 0 50px;
    width: 250px;
    padding: 15px;
}

#submit-query {
    float: right;
    padding: 5px 15px;
    color: #fff8f0;
    background: #402e32;
    border: 3px solid #c09336;
    border-radius: 25%;
}

.fixedwidth {
    display: block;
    width: 220px;
    float: left;
}